.container{
    width: 400px;
}
.numberContaniner{

display: grid;
grid-template-columns: repeat(4,1fr);
width: 400px;
height: 500px;
gap: 10px;
background-color: black;

}
.numberContaniner button{
    border-radius: 100px;
   background-color: rgb(87, 84, 84);
   color: white;
   font-size: larger;
   font-weight: bold;
   cursor: pointer;
}

.displayData{
    height: 200px;
    width: 360px;
    display: flex;
    gap: 2px;
    background-color: black;
    padding: 20px;
}
.displayData p{
    display: flex;
    color: white;
  
}